@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased font-sans;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
}

/* Leaflet Overrides for full window responsiveness */
.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  border-radius: 1rem;
  z-index: 1;
  background-color: #f8fafc !important;
}

.leaflet-tile-container img {
  max-width: none !important;
  max-height: none !important;
}


